#nba.both-forms
  .nba-box
    h2.lower-bold NBA Search
    p.description-nba.forma Pull up LeBron James' current stats from NBA.com using the search button below
    br
    form.forma.form
      span
        input.srch-name.first(type='text', name='firstname', placeholder='First Name')
        input.srch-name.last(type='text', name='lastname', placeholder='Last Name')
        br
        button.btn-srch Search
    .stats
      table.player-info
        tr
          th Name
          th Height
          th Weight
          th Jersey
          th Position
          th Team
        tr
          td #{pName}
          td #{height}
          td #{weight}
          td #{numb}
          td #{pos}
          td #{team}
      br
      table.player-stats
        tr
          th Points
          th Assists
          th Rebounds
          th Minutes
          th Blocks
        tr
          td #{points}
          td #{assists}
          td #{rebounds}
          td #{mins}
          td #{blocks}
      button.srch Search Again
  .nbax
    h2.lower-bold NBA Search
    p.description-nba Pull any current NBA player's stats when you search for their name below.
    br
    .formb.form(action='')
      span
        input(type='text', name='fname', placeholder='First Name')
        input(type='text', name='lname', placeholder='Last Name')
        br
        input.btn-srch